html{
    box-sizing:border-box;
}

*, *::before, *::after{
    box-sizing:inherit;
    margin:0;
    padding:0;
}

body{
    color:#fff;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    line-height: 2em;
    background-color:#edeae6;
}

a,a:active, a:visited, ac:link{
    text-decoration: none;
    color:#fff;
}

ul, li{
    list-style-type:none;
}

#header{
    background-color:#100E0F;
}

.flex-container{
    display:flex;
    flex-flow: row wrap;
    padding:1em;
    justify-content: space-around;
}

.logo{
    flex: 1 1 0;
}

.logo img{
    width:200px;
}

.toggleBtn{
    display:none;
}

.contact-top{
    flex: 2 1 0;
    display:flex;
    justify-content: flex-end;
}

.contact-top ul li{
    display:inline-block;
    margin-right:2em;
    margin-top:1em;
}

a.btn-contest{
    border:1px solid #fff;
    padding:1em;
    border-radius:5px;
    transition: .5s all ease;
}

a.btn-contest:hover{
    background-color:#fff;
    border:1px solid #000;
    color:#000;
}

ul.top-menu{
    background-color: #AE060E;
    position:relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

ul.top-menu li a{
    display:block;
    padding:1em;
    flex: 1 1 0;
}

ul.top-menu li a:hover{
    background-color:#fff;
    color:#AE060E;
}

ul.top-menu li ul{
    display:none;
    position:absolute;
    padding:0;
    margin:0;
    background-color: #AE060E;
    z-index:9999;
}

ul.top-menu li ul li a{
    display:block;
    padding:1em;
    width:144px;
}

ul.top-menu li>ul>li>a:hover{
    background-color:#fff;
    color: #AE060E;   
}

.contest-sm-btn{
        display:none;
    }

#main{
    color:#000;
}

.banner-section{
    background:url(images/slider1-3.jpg);
    background-attachment:scroll;
    background-size: cover;
    height:360px;
    position:relative;
}

.special-section{
    width:100%;
    padding:2em;
    position:absolute;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
}

.special-section span{
    font-size:1.2rem;
    width:85%;
}

.about-us{
    padding:2em;
    text-align:justify;
}

.btn-giftcard{
    color:#000;
    display:block;
    border:1px solid #000;
    width:250px;
    padding:1.5em;
    text-align:center;
    border-radius:10px;
}

.features{
    background-color:#AE060E;
}

.thumbnail{
    text-align:center;
}

.thumbnail img{
    width: 100px;
}

.thumbnail h3{
    text-align:center;
    color:#fff;
}

.menu{
    width:100%;
    padding:2em;
    text-align:center;
}

.breakfast-menu{
    width:25%;
    height:250px;
    float:left;
    border:1px solid #000;
}

.lunch-menu{
    width:25%;
    height:100px;
    float:left;
    border:1px solid #000;
    
}
.desserts-menu{
    width:25%;
    height:100px;
    float:left;
    border:1px solid #000;
}

.dinner-menu{
    width:50%;
    height:150px;
    float:left;
    border:1px solid #000;
}

.drinks-menu{
    width: 25%;
    height:250px;
    display:inline-block;
    border:1px solid #000;
}

.contact-us{
    clear:both;
    padding:2em;
}

.feed-back{
    flex: 2 1 0;
}

.reservation-form{
    flex: 1 1 0;
    position:relative;
    background-color:#FFFFFF;
    padding:1em;
    text-align:center;
    box-shadow: 5px 10px 18px #888888;
}

.reservation-form h3{
    background-color:#AE060E;
    color:#fff;
    padding:.2em;
    position:absolute;
    top:-20px;
    left:67px;
    width:300px;
}

#reserveFrm{
    padding-top:2em;
}

#reserveFrm label{
    display:block;
    text-align:left;
    color:#585858;
    padding-left:3em;
}

#reserveFrm input, #reserveFrm #time, #reserveFrm #group_size{
    width:300px;
    height: 30px;
    padding:.5em;
    border:1px solid #ddd;
    background-color: #F8F8F8;
    margin-bottom:2em;

}

#reserveFrm textarea{
    height:100px;
    width:300px;
    padding:.5em;
    border:1px solid #ddd;
    margin-bottom:1em;
    background-color: #F8F8F8;
}

#btnSubmit{
    background-color:#AE060E !important;
    color:#fff;
    width:100px !important;
    padding:2em !important;
    line-height:0em;
    text-transform: uppercase;
    font-weight:bold;
}

#btnSubmit:hover{
    background-color:#880000 !important;
    cursor:pointer;
}

#footer{
    background-color:#222;
    color:#aaa;
}

#footer h3{
    color:#fff;
}

#footer a{
    color:#fff;
}

.social-link li{
    display:inline-block;
    font-size:2.5em;
    margin:.2em;
}

.social-link li a{
    color:#b00000 !important;
}

.col-8{
    text-align:left;
}

.col-4 ul li{
    display:inline-block;
    padding: 0 1em 0 1em;
    border-right:1px solid #aaa;
}

.col-4 ul li:last-child{
    border:none;
}
