/* updated 04/01/2018 */
html{
    box-sizing:border-box;
}

*, *::before, *::after{
    box-sizing:inherit;
    margin:0;
    padding:0;
}

body{
    color:#fff;
    -webkit-font-smoothing: antialiased;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    line-height: 2em;
    background: url(images/floral_bckgr_02-1-250x150.jpg) repeat;
}

a,a:active, a:visited, ac:link{
    text-decoration: none;
    color:#fff;
}

ul, li{
    list-style-type:none;
}

#header{
    background-color:#100E0F;
}

.flex-container{
    display:flex;
    flex-flow: row wrap;
    padding:1em;
    justify-content: space-around;
}

.logo{
    flex: 1 1 0;
}

.logo img{
    width:200px;
}

.toggleBtn{
    display:none;
}

.contact-top{
    flex: 2 1 0;
    display:flex;
    justify-content: flex-end;
}

.contact-top ul li{
    display:inline-block;
    margin-right:2em;
    margin-top:1em;
}

a.btn-contest{
    border:1px solid #fff;
    padding:1em;
    border-radius:5px;
    transition: .5s all ease;
}

a.btn-contest:hover{
    background-color:#fff;
    border:1px solid #000;
    color:#000;
}

ul.top-nav{
    background-color: #AE060E;
    position:relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

ul.top-nav li a{
    display:block;
    padding:1em;
    flex: 1 1 0;
}

ul.top-nav li a:hover{
    background-color:#fff;
    color:#AE060E;
}

ul.top-nav li ul{
    display:none;
    position:absolute;
    padding:0;
    margin:0;
    background-color: #AE060E;
    z-index:9999;
}

ul.top-nav li ul li a{
    display:block;
    padding:1em;
    width:144px;
}

ul.top-nav li>ul>li>a:hover{
    background-color:#fff;
    color: #AE060E;   
}

.contest-sm-btn{
        display:none;
    }

#main{
    color:#000;
}

.banner-section{
    position:relative;
    height:400px;
}

.banner-section .slideshow{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.banner-section .slideshow img{
    width:100%;
    background-attachment:scroll;
    background-size: cover;
    height:400px;
}

.special-section{
    width:100%;
    padding:2em;
    position:absolute;
    bottom:0;
    background-color: rgba(0,0,0,0.5);
    color:#fff;
    z-index:888;
}

.special-section h2{
    flex:1 1 auto;
}

.special-section #special-dish{
    flex:8 1 auto;
    text-align:left;
}

.about-us{
    padding:2em;
    text-align:justify;
}

.about-us a{
    color:#AC0C18;
}

.btn-giftcard{
    display: block;
    width: 160px;
    text-align: center;
    font-size: .95rem;
    padding: .5em;
    border-radius: 5px;
    color: #fff !important;
    background-color: #AC0C18;
    transition:all .5s ease;
}

.btn-giftcard:hover{
    background:transparent;
    color:#AC0C18 !important;
    border:1px solid #AC0C18;
    border-radius:5px;
}

.features{
    background-color:#AE060E;
}

.thumbnail{
    text-align:center;
    flex: 1 1 0;
    padding: 0 2em 0 2em;
}

.thumbnail img{
    width: 100px;
}

.thumbnail h3{
    text-align:center;
    color:#fff;
}

.thumbnail p{
    color:#fff;
    text-align:center;
}

.food-list{
    width:100%;
    text-align:center;
}

[class*="menu"]{
    padding:.2em;
    position:relative;
}

[class*="menu"] img{
    width:100%;
    height:100%;
    filter: contrast(80%);
    cursor:pointer;
    transition:all .5s ease;
}

[class*="menu"] a{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    color: #fff;
    font-weight:bold;
    padding-top: 1em;
    display:none;
    cursor: pointer;
}

.flipped{
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

.breakfast-menu{
    width:25%;
    height:250px;
    float:left;
    padding-left:0;
}


.lunch-menu{
    width:25%;
    height:100px;
    float:left;
    
}
.desserts-menu{
    width:25%;
    height:100px;
    float:left;
}

.dinner-menu{
    width:50%;
    height:150px;
    float:left;
}

.drinks-menu{
    width: 25%;
    height:250px;
    display:inline-block;
    padding-right:0;
}

.contact-us{
    clear:both;
    padding:2em;
}

[class*="customer"]{
    position: relative;
    flex-flow: row wrap;
    border: 1px solid #dedede;
    margin-bottom: 1em;
    border-radius: 5px;
}

[class*="customer"] .thumb{
    flex:1 1 0;
}

[class*="customer"] .thumb .rating{
    text-align: center;
}

[class*="customer"] .thumb img{
    width:100%;
}

.rated{
    color:orange;
}

[class*="customer"] .response{
    flex: 5 1 0;
    text-align: justify;
    padding-left: .5em;
    font-size: .85rem;
    font-style: italic;
}



.feed-back{
    flex: 2 1 0;
}

.reservation-form{
    flex: 1 1 0;
    position:relative;
    background-color:#FFFFFF;
    padding:1em;
    text-align:center;
    box-shadow: 5px 10px 18px #888888;
}

.reservation-form h3{
    background-color:#AE060E;
    color:#fff;
    padding:.2em;
    position:absolute;
    top:-20px;
    left:67px;
    width:300px;
}

#reserveFrm{
    padding-top:2em;
}

#reserveFrm label{
    display:block;
    text-align:left;
    color:#585858;
    padding-left:3em;
}

#reserveFrm input, #reserveFrm #time, #reserveFrm #group_size{
    width:300px;
    height: 30px;
    padding:.5em;
    border:1px solid #ddd;
    background-color: #F8F8F8;
    margin-bottom:2em;

}

#reserveFrm textarea{
    height:100px;
    width:300px;
    padding:.5em;
    border:1px solid #ddd;
    margin-bottom:1em;
    background-color: #F8F8F8;
}

#btnSubmit{
    background-color:#AE060E !important;
    color:#fff;
    width:100px !important;
    padding:2em !important;
    line-height:0em;
    text-transform: uppercase;
    font-weight:bold;
    transition:all .5s ease;
}

#btnSubmit:hover{
    background-color:transparent !important;
    color: #AE060E;
    border:1px solid #AE060E;
    cursor:pointer;
}

#footer{
    background-color:#222;
    color:#aaa;
}

#footer h3{
    color:#fff;
}

#footer a{
    color:#fff;
}

.social-link li{
    display:inline-block;
    font-size:2.5em;
    margin:.2em;
}

.social-link li a{
    color:#b00000 !important;
    transition: all .5s ease;
}

.social-link li a:hover{
    color:#fff !important;
}

.col-8{
    text-align: left;
    flex: 1 1 auto;
    padding-left: 2em;
}

.col-4{
    flex: 2 1 auto;
    text-align: right;
    padding-right: 2em;
}

.col-4 ul li{
    display:inline-block;
    padding: 0 1em 0 1em;
    border-right:1px solid #aaa;
}

.col-4 ul li:last-child{
    border:none;
}


/* GIFT CARD PAGES */

.giftcard-content{
    padding:2em;
    color:#000;
}

.giftcard-content h1{
    text-align:center;
}

..giftcard-content p{
    text-align: justify;
}

#giftcard-frm{
    margin: 0 auto;
    width: 80%;
    border: 1px solid #dedede;
    padding: 2em;
}

#giftcard-frm label{
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

#giftcard-frm #amount{
    position:relative;
}

#giftcard-frm #amount li{
    display:inline-block;
    border:1px solid #333;
    padding: .3em;
    margin-right:.2em;
    cursor: pointer;
}

#giftcard-frm #amount li:last-child{
    border:none;
}

#giftcard-frm #amount li input{
    padding: 1.3em;
    border: 1px solid #333;
}

#giftcard-frm input{
    padding: 1.3em;
    border: 1px solid #333;
    margin: .5em .5em .5em 0;
}

#giftcard-frm textarea{
    padding: 1.3em;
    border: 1px solid #333;
    width:525px;
    margin: .5em .5em 0 0;
}

#giftcard-frm p{
    font-size: .85rem;
    font-style: italic;
}

#giftcard-frm div:last-child{
    text-align: center;
}


#giftcard-frm .special-btn{
    background:transparent;
    border:1px solid #AE060E;
    color:#AE060E;
    transition:all .5s ease;
    cursor: pointer;
    text-transform: uppercase;
}

#giftcard-frm .special-btn:hover{
    background-color:#AE060E;
    color:#fff;
}


.giftcard-preview{
    display:none;
    width:500px;
    margin: .5em auto;
    background-color:#000;
    padding:1em;
    border-radius: 5px;
}

.giftcard-preview .logo{
    text-align:center;
}

.giftcard-preview .giftcard-preview-content .giftcard_amt{
    text-align: left;
    flex: 1 1 auto;
    font-size: 2.5rem;
    margin-top: .5em;
    font-weight: bold;
}

.giftcard-preview .giftcard-preview-content .giftcard_sender{
    flex: 1 1 auto;
    text-align: right;
    margin-top: 1em;
}

/* BOOKING PAGE */
.booking-content{
    padding:2em;
    color:#000;
}

.booking-content h1{
    text-align: center;
}

#booking-frm{
    width: 80%;
    border:1px solid #333;
    margin: 1em auto;
    padding:2em;
}

#booking-frm label{
    display:inline-block;
    width:150px;
}

#booking-frm input, #booking-frm select, #booking-frm textarea{
    width:80%;
    margin:.5em;
    padding:.5em;
    border:1px solid #dedede;
}

#booking-frm input, #booking-frm select{
    height: 40px;
}

#booking-frm textarea{
    height:100px;
}

#booking-frm #venue{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom:.5em;
}

#booking-frm input[type="checkbox"]{
    width: 30px !important;
    margin: 0 !important;
    height: 12px !important;
}
#booking-frm #venue li{
    flex: 1 1 auto;
    text-align: center;
}

#booking-frm #venue li img{
    width:100px;
    height:70px;
}

#bookbtn{
    width: 100px !important;
    display: block;
    margin: 0 auto !important;
}

#booking-frm p{
    font-size:.85em;
    font-style:italic;
}

#booking-frm div:last-child{
    text-align: center;
}

#btnsubmit{
    width: 140px !important;
    background:transparent;
    border:1px solid #AE060E !important;
    color:#AE060E;
    transition:all .5s ease;
    cursor: pointer;
    text-transform: uppercase;
}

#btnsubmit:hover{
    background-color:#AE060E;
    color:#fff;
}

.full-size-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 85% !important;
    cursor: pointer;
}




