@media all and (max-width: 1024px){
    .logo{
        flex: 1 1;
    }
    
    .toggleBtn{
        display:block;
        cursor:pointer;
        border:1px solid #fff;
        padding:.7em 1em 0 1em;
        transition:.5s all ease;
    }
    
    .toggleBtn:hover{
        background-color:#fff;
        color:#000;
    }
    
    .contest-sm-btn{
        display:block;
    }

    .contact-top{
        display:none;
    }


    ul.top-menu{
        flex-flow:column wrap;
        display:none;
    }
    
    ul.top-menu li ul{
        display:none;
        position:relative;
    }
    
    ul.top-menu li ul li a{
        width:100%;
    }
    
    .menu{
        display:flex;
        flex-flow: column wrap;
    }
    
    .breakfast-menu, .lunch-menu, .desserts-menu, .dinner-menu, .drinks-menu{
        float:none;
        width:100%;
    }
    
    .reservation-form{
        flex:1 100%;
    }
    
    .reservation-form h3{
        width:50%;
    }
    
    .feed-back{
        display:none;
    }
}